<div>
  <div class="headline">
    <h1>Join 360</h1>
    <div class="lineContainer"></div>
    <div>Key Metrics at a Glance</div>
  </div>

  <div class="d-flex">
    <div class="counterContainer">
      <div class="todo-done-container">
        <div
          class="todo-done-box"
          (mouseenter)="isTodoHovered = true"
          (mouseleave)="isTodoHovered = false"
        >
          <img *ngIf="!isTodoHovered" src="./assets/img/todoIcon.svg" />
          <img *ngIf="isTodoHovered" src="./assets/img/todoIcon_hover.svg" />
          <div class="counter">
            <span>1</span>
            <span>To-do</span>
          </div>
        </div>

        <div
          class="todo-done-box"
          (mouseenter)="isDoneHovered = true"
          (mouseleave)="isDoneHovered = false"
        >
          <img *ngIf="!isDoneHovered" src="./assets/img/doneIcon.svg" />
          <img *ngIf="isDoneHovered" src="./assets/img/doneIcon_hover.svg" />
          <div class="counter">
            <span>1</span>
            <span>Done</span>
          </div>
        </div>
      </div>

      <div class="urgentContainer">
        <div class="urgentBox">
          <img src="./assets/img/urgentIconBox.svg" alt="" />
          <div class="counter">
            <span>1</span>
            <span>Urgent</span>
          </div>

          <div class="lineContainer"></div>

          <div class="dateBox">
            <span> December 16, 2023</span>
            <span> Upcoming Deadline</span>
          </div>
        </div>
      </div>

      <div class="taskCounterContainer">
        <div class="taskCounterBox">
          <div class="counter">
            <span>5</span>
            <span>Tasks in Board</span>
          </div>
        </div>
        <div class="taskCounterBox">
          <div class="counter">
            <span>2</span>
            <span>Tasks In Progress</span>
          </div>
        </div>
        <div class="taskCounterBox">
          <div class="counter">
            <span>2</span>
            <span>Awaiting Feedback</span>
          </div>
        </div>
      </div>
    </div>

    <div class="greetingContainer">
      <span>Good morning,</span>
      <span>Guest</span>
    </div>
  </div>
</div>
