<div>
  <div class="headline">
    <h1>Join 360</h1>
    <div class="lineContainer"></div>
    <div>Key Metrics at a Glance</div>
  </div>

  <div class="d-flex">
    <div class="counterContainer">
      <div class="todo-done-container">
        <div class="todo-done-box">
          <img src="./assets/img/todoIcon.svg" alt="" />
          <div class="counter">
            <span>1</span>
            <span>To-do</span>
          </div>
        </div>

        <div class="todo-done-box">
          <img src="./assets/img/doneIcon.svg" alt="" />
          <div class="counter">
            <span>1</span>
            <span>Done</span>
          </div>
        </div>
      </div>
      <!-- <div>
        <div>
          <img src="" alt="" />
          <span></span>
          <span></span>
        </div>
        <div class="line"></div>
        <div>
          <span></span>
          <span></span>
        </div>
      </div>
      <div>
        <div></div>
        <div></div>
        <div></div>
      </div> -->
    </div>
    <!-- <div>
      <span>Good morning,</span>
      <span>Guest</span>
    </div> -->
  </div>
</div>
