<div>
  <div class="logoContainer">
    <img src="./assets/img/logo.svg" alt="" />
  </div>

  <div class="navigationButtons">
    <div class="menuButton" routerLink="summary">
      <img src="./assets/img/iconSummary.svg" alt="" /> <span>Summary</span>
    </div>
    <div class="menuButton" routerLink="addTask">
      <img src="./assets/img/iconAddtask.svg" alt="" /> <span>Add Task</span>
    </div>
    <div class="menuButton" routerLink="board">
      <img src="./assets/img/iconBoard.svg" alt="" /> <span>Board</span>
    </div>
    <div class="menuButton" routerLink="contacts">
      <img src="./assets/img/iconContacts.svg" alt="" /> <span>Contacts</span>
    </div>
  </div>
</div>

<div class="navigationButtons">
  <div routerLink="privacy-policy" class="secundaryButton">Privacy Policy</div>
  <div routerLink="legal-notice" class="secundaryButton">Legal notice</div>
</div>
