<div class="sidenav">
  <div>
    <div class="logoContainer">
      <img src="./assets/img/logo.svg" alt="" />
    </div>

    <div class="navigationButtons">
      <div class="menuButton">
        <img src="./assets/img/iconSummary.svg" alt="" /> <span>Summary</span>
      </div>
      <div class="menuButton">
        <img src="./assets/img/iconAddtask.svg" alt="" /> <span>Add Task</span>
      </div>
      <div class="menuButton">
        <img src="./assets/img/iconBoard.svg" alt="" /> <span>Board</span>
      </div>
      <div class="menuButton">
        <img src="./assets/img/iconContacts.svg" alt="" /> <span>Contacts</span>
      </div>
    </div>
  </div>

  <div class="navigationButtons">
    <div class="secundaryButton">Privacy Policy</div>
    <div class="secundaryButton">Legal notice</div>
  </div>
</div>
