<div class="d-flex">
  <div class="contactListContainer">
    <div>
      <button>
        Add new contact <img src="./assets/img/person_add.svg" alt="" />
      </button>
    </div>
    <div>
      <h2>A</h2>
      <div class="contact">
        <div class="contactImg">AM</div>
        <div class="m-left">
          <div class="contactName">Anton Mayer</div>
          <div class="contactMail">antom@test.com</div>
        </div>
      </div>
    </div>
  </div>
  <div class="contactContainer">
    <div class="headline">
      <h1>Contacts</h1>
      <div class="lineContainer"></div>
      <div>Better with a team</div>
    </div>

    <div class="contactInfoContainer">
      <div class="firstinfoContainer">
        <div class="contactImgBig">AM</div>
        <div class="nameAndEditContainer">
          <div class="contactName">Anton Mayer</div>
          <div class="editButtonsContainer">
            <div class="contactButtons">
              <img src="./assets/img/edit.svg" alt="" />
              <div>Edit</div>
            </div>
            <div class="contactButtons">
              <img src="./assets/img/delete.svg" alt="" />
              <div>Delete</div>
            </div>
          </div>
        </div>
      </div>

      <div class="infoText">Contact Information</div>

      <div class="mailText">
        <div><b>Email</b></div>
        <div class="contactMail">antom@test.com</div>
      </div>
      <div class="phoneText">
        <div><b>Phone</b></div>
        <div>+49 1111 111 11 1</div>
      </div>
    </div>
  </div>
</div>
