.header {
  position: sticky;
  top: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  span {
    font-size: 21px;
  }
  &:hover {
    img {
      cursor: pointer;
    }
  }
}

.userImg {
  margin-left: 15px;
  border-radius: 100px;
  border: 1px solid gray;
  width: 45px;
}
