.headRightContainer {
  display: flex;
  align-items: baseline;
  gap: 20px;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

input {
  height: 45px;
  padding-right: 40px;
  padding-left: 15px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  font-size: 20px;

  &::placeholder {
    color: #d1d1d1;
  }

  &:focus {
    border: 1px solid #007cee;
    outline: none;
  }
}

.icon-container {
  display: flex;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border-left: 1px solid #d1d1d1;
  padding-left: 5px;

  .mat-icon {
    padding: 5px;
    border-radius: 100%;
    transition: 125ms ease-in-out;

    &:hover {
      cursor: pointer;
      background: #d1d1d1;
    }
  }
}

.addTaskBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  width: 160px;
  height: 45px;
  background-color: #2a3647;
  transition: 125ms ease-in-out;
  mat-icon {
    margin-left: 5px;
    color: white;
  }

  &:hover {
    cursor: pointer;
    background-color: #007cee;
    border: 1px solid #007cee;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.boardContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 25px;
}

.addBtnContainer {
  border: 2px solid;
  border-radius: 10px;
  height: 25px;
  width: 25px;
  &:hover {
    cursor: pointer;
    color: #29abe2;
  }
}

.section {
  width: 250px;
}

.sectionHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  height: 30px;
}

.emptyContent {
  border-radius: 10px;
  border: 2px dotted #a8a8a8;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #e7e7e7;
  color: #a8a8a8;
}

.taskContainer {
  padding: 15px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;

  .categoryText {
    padding: 4px 10px;
    color: white;
    background-color: #0038ff;
    border-radius: 10px;
  }

  .titleText {
    margin-top: 20px;
    font-weight: 700;
  }

  .descriptionText {
    margin-top: 10px;
    color: #a8a8a8;
  }

  .mt-20 {
    margin-top: 20px;
  }

  .assignedContacts {
    display: flex;
    > .contactImg:not(:first-child) {
      margin-left: -10px;
    }
  }

  .contactImg {
    padding: 8px;
    border-radius: 100%;
    background-color: #9327ff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    font-size: 12px;
  }

  &:hover {
    cursor: pointer;
  }
}
