<div>
  <div class="d-flex jc-between">
    <h1>Board</h1>
    <div class="headRightContainer">
      <div class="input-container">
        <input type="text" placeholder="Find Task" />
        <div class="icon-container">
          <mat-icon>search</mat-icon>
        </div>
      </div>

      <button class="addTaskBtn">
        Add Task
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div class="boardContainer">
    <div class="d-flex jc-between">
      <div>To do</div>
      <div class="addBtnContainer">
        <mat-icon>add</mat-icon>
      </div>
    </div>
    <div class="d-flex jc-between">
      <div>In progress</div>
      <div class="addBtnContainer">
        <mat-icon>add</mat-icon>
      </div>
    </div>
    <div class="d-flex jc-between">
      <div>Await feedback</div>
      <div class="addBtnContainer">
        <mat-icon>add</mat-icon>
      </div>
    </div>
    <div>
      <div>Done</div>
    </div>
  </div>
</div>
