.mat-drawer-container {
  height: 100vh;
}

.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  background-color: #2a3647;
  height: 100%;
}

.router-container {
  padding: 60px;
}
