label {
  font-size: 20px;
  padding-bottom: 10px;
}

.formContainer {
  display: flex;
  gap: 50px;
}

.firstPartialContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 470px;
}

.secondPartialContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 470px;
}

.lineContainer {
  border: 1px solid #d1d1d1;
}

.prioButtons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 22px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    font-size: 20px;
    width: 145px;
    height: 45px;
    transition: transform 125ms;
    img {
      margin-left: 5px;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }
}

.submitFormBtnContainer {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: -70px;
  right: 0;
  .createBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    width: 165px;
    height: 45px;
    background-color: #2a3647;
    transition: 125ms ease-in-out;
    mat-icon {
      margin-left: 5px;
      color: white;
    }

    &:hover {
      cursor: pointer;
      background-color: #007cee;
      border: 1px solid #007cee;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  .clearBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    width: 145px;
    height: 45px;
    background-color: white;
    transition: 125ms ease-in-out;
    mat-icon {
      margin-left: 5px;
    }

    &:hover {
      cursor: pointer;
      border: 2px solid #007cee;
      color: #007cee;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}
