<div>
  <div class="d-flex jc-between">
    <h1>Help</h1>
    <div routerLink="/summary" class="backArrow">
      <img class="backArrow" src="./assets/img/arrow-back.svg" alt="" />
    </div>
  </div>

  <div class="section">
    <h2 class="secondHead">What is Join?</h2>
    <div>
      Join is a project managment tool. It includes a kanban system which allows
      you to work in a team and add tasks for every teammate. So your team have
      an overview which task has to be done by whom, which is in progress or is
      already done. It's easy to handle by Using the drag and drop system to
      pull the task cards into the right area. So you have a great tool which
      supports you in the daily work.
    </div>
  </div>

  <h2 class="secondHead">How to use it</h2>

  <div class="d-flex align-center numberSection">
    <h2 class="number">1.</h2>
    <div>
      Push the button "Create Task" and fill the fields title and description
      out. Then choose different points like category, date and priority. You
      can also assign the tasks to the team members which are already in your
      contact or add new contacts in the menu "Contacts".
    </div>
  </div>
  <div class="d-flex align-center numberSection">
    <h2 class="number">2.</h2>
    <div>
      You can see added task in the menu "Board". That's a Kanbnan system where
      you can pull the task cards with drag and drop into the column you need.
      Here you have the choice between "To Do", "In Progress", "Awating
      Feedback" and "Done".
    </div>
  </div>
  <div class="d-flex align-center numberSection">
    <h2 class="number">3.</h2>
    <div>
      The menu "Summary" is an overview over all tasks. Here you can see which
      of them are in progress or which have a deadline. That's very important
      for urgent tasks. Also you can see what is already done.
    </div>
  </div>
</div>
