h2 {
  font-size: 27px;
  font-weight: 700;
}

.backArrow {
  img {
    transition: 125ms ease-in-out;
    &:hover {
      cursor: pointer;
      border-radius: 100%;
      background-color: #d1d1d1;
    }
  }
}
