html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  font-weight: 700 !important;
  font-size: 61px !important;
  margin-bottom: 55px !important;
}

.d-flex {
  display: flex;
}

.jc-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.d-column {
  display: flex;
  flex-direction: column;
}

//////////////////////////////// material design styles ///////////////////////////////////

.mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border: unset;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background-color: white;
}

.mat-typography {
  line-height: unset !important;
}

// .mat-mdc-form-field-bottom-align::before {
//   content: none !important;
//   display: none !important;
//   height: 0 !important;
// }
